body {
	margin: 0;
	width: 80%;
	font-family: Calibri;
	margin: auto;
	height: 2000px;
}

.header {
	width: 100%;
	background-color: #1b2b63;
	min-height: 24px;
	display: flex;

}

.logo {
	width: 30%;
	padding: 20px;
}

.logo a {
	color: white;
	text-decoration: none;
	font-size: 28px;
}

.links {
	width: 70%;
}

.links-list {
	float: right;
	padding: 24px;
}

.links-list a {
	color: white;
	text-decoration: none;
	font-size: 22px;
	align-items: center;
}

.content {
	width: 100%;
	min-height: 700px;
	display: flex;
	margin-top: 20px
}

.firstbar {
	width: 25%;
}

.secondbar {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}

.thirdbar {
	width: 25%;
}


.sidenav {
	width: 100%;
	border: 1px lightgray solid;
	display: block;
}


.sidenav img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
	background-position: center;
}

.nameLabel {
	font-size: 20px;
	font-weight: bold;
	padding: 10 20 10 20px;
	display: block;
}

.nameLabel a {
	color: blue;
	text-decoration: none;
}

.quote {
	font-size: 14px;
	color: gray;
	padding: 10px;
	margin: 0px;
	text-align: center;
}

.sidenav-links {
	width: 272px;
	display: block;
}

.sidenav-links a{
	padding: 10px;
	display: block;
	border: 1px lightgray solid;
	text-decoration: none;
	font-size: 16px;
	color: black;
}

.blog {
	margin-bottom: 20px;
}

.blog img {
	width: 100%;
	height: 250px;
	background-position: center;
	object-fit: cover;
	object-position: center;
}

.blog label {
	font-size: 20px;
	font-weight: bold;
}

.blog-more p {
	font-size: 18px;
}

.blog-more button {
	background-color: #1b2b63;
	width: 100px;
	height: 30px;
	color: white;
	border: 0px;
}

.blog-more {
	padding: 0 10 0 10;
}

.news {
	width: 100%;
}

.news ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.news li {
	width: 100%;
	border: 1px lightgray solid;
	border-bottom: 0px;
}

.news-list {
	padding: 10px;
}

.news-header {
	display: flex;
	justify-content: space-between;
}

.news-body {
	display: block;
}

.news-body label {
	display: block;
}

.news-body span {
	color: gray;
}